[% INCLUDE 'doc-head-open.inc' %]
<title>Koha -- Catalogage&nbsp;: import MARC</title>
[% INCLUDE 'doc-head-close.inc' %]
</head>
<body>
<div id="main">
<pre>[% MARC_FORMATTED %] </pre>
[% INCLUDE 'intranet-bottom.inc' %]
