[% INCLUDE 'help-top.inc' %]
<h1>Planificateur de tâches</h1>
<p>Le planificateur de tâche sert à programmer l'exécution d'un rapport.</p><p>Pour programmer une tâche, aller dans Planificateur de tâches et remplissez le formulaire</p>
 <ul class="itemizedlist" type="disc"><li class="listitem"><p>L'heure courante du serveur vous montre l'heure de votre serveur. La planification de tous vos états est basée sur cette heure-là, pas sur votre heure locale.</p></li><li class="listitem"><p>L'heure doit être entrée sous la forme hh:mm</p></li><li class="listitem"><p>La date doit être entrée en utilisant le calendrier</p></li><li class="listitem"><p>Choisissez l'état que vous voulez programmer</p></li><li class="listitem"><p>Choisissez de recevoir le texte du résultat ou bien un lien vers le résultat</p></li><li class="listitem"><p>Saisissez dans Courriel l'adresse de la personne qui recevra l'état</p></li></ul><p>Le planificateur de tâche sert à programmer l'exécution d'un rapport.</p>
 <p>Vous pouvez également planifier les états directement depuis la liste des états enregistrés en cliquant sur le lien Planifier</p>
 <h3>Problème</h3><p>Le Planificateur de tâches ne fonctionnera pas si l'user du serveur web n'a pas la permission de l'utiliser. Pour trouver si le bon user a les permissions nécessaires, vérifiez /etc/at.allow pour voir les utilisateurs. Si vous n'avez pas ce fichier, vérifiez /etc/at.deny. Si at.deny existe mais est vide, alors tous les users peuvent l'utiliser. Voyez avec votre administrateur système pour ajouter l'user au bon endroit afin que le planificateur de tâches fonctionne.</p>
[% INCLUDE 'help-bottom.inc' %]